@import "@fontsource/roboto-condensed";

.mdStyle h1 {
    font-size: 3rem;
    font-weight: 900;
}

.mdStyle h2 {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
    color: #d5c7de;
}

.mdStyle p {
    padding-bottom: 2rem;
}

.mdStyle li {
    margin-left: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.mdStyle a {
    font-weight: 900;
    color: #a6bef0;
}

.mdStyle a:hover {
    color: #445577;
}